#right-container {
    height: 100%;
}

#articles {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

#articles *{
    display: grid;
    border: 1px solid;
    height: 300px;
    justify-content: center;
    padding: 10px;
    border-radius: var(--container-radius);
}

#content-header {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    height: 70px;
    border: 1px solid;
    border-radius: var(--container-radius);
}

#content-header *{
    display: flex;
    align-items: center;
}

#content-header::-webkit-scrollbar {
    opacity: 0%;
}